{% extends "base.html" %}
{% block title %}Manage Users - InvenGuardCO{% endblock %}
{% block content %}
    <header class="page-header mb-3">
        <div>
            <h2>Manage Users</h2>
            <p class="subtitle">Create, edit and manage system users</p>
        </div>

        <div role="group">
            <a href="/users/create" role="button">Register user</a>
            <a href="/dashboard" role="button" class="secondary">Back</a>
        </div>
    </header>
    <div id="users-table"
        hx-get="/users/list?page=1"
        hx-trigger="load, userDeleted from:body">
        Loading users...
    </div>
    <div id="modal" class="modal" style="display:none;">
    <dialog open>
        <article>
        <header>
            <h3>Edit User</h3>
            <button aria-label="Close" onclick="document.getElementById('modal').style.display='none';" class="close"></button>
        </header>
        <div id="modal-content">
        </div>
        </article>
    </dialog>
    </div>
{% endblock %}