{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<header class="dashboard-header mb-3">
    <div>
        <h1>Dashboard</h1>
        <p class="subtitle">Welcome, {{ current_user.name }}</p>
    </div>

    <a href="/auth/logout" role="button" class="outline">
        Logout
    </a>
</header>

<section class="dashboard-grid">
    <article class="card">
        <h3>Resumen</h3>
        <p>
            Desde aquí puedes monitorear métricas clave y acceder a las funciones del sistema.
        </p>
    </article>

    <article class="card">
        {% include "dashboard/partials/" ~ current_user.role.value ~ "_panel.html" %}
    </article>
    
</section>
{% endblock %}
