name : InvenGuardCO
services:
  db:
    image: postgres:17
    container_name: database_valle
    env_file:
      - ../.env
    environment:
      POSTGRES_USER : ${DB_USER}
      POSTGRES_PASSWORD : ${DB_PASSWORD}
      POSTGRES_DB : ${DB_NAME}
    ports:
      - 5433:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build:
      context: ..
      dockerfile: app/docker/Dockerfile
    container_name: inven-guard-app
    env_file:
      - ../.env
    ports:
      - 8000:8000
    volumes:
      - ../app:/src/app
    depends_on:
      db:
        condition: service_healthy
volumes:
  pgdata: